{% extends 'base.html.twig' %}

{% block title %}New Password{% endblock %}

{% block body %}
    <h1>{% trans %}Reset password{% trans %}</h1>
    <p>{% trans %}Please enter your new password below{% trans %}</p>
    <form class="" method="post">
        <label  for="inputPassword"></label>
        <input class="form-control" type="password" name="password" id="inputPassword" placeholder="Mot de passe" required>
        <p><input type="hidden" name="token" value="{{ token }}"></p>
        <p class="d-flex justify-content-end"><button class="btn btn-success" type="submit" id="valider">{% trans %}Validate the new password{% endtrans %}</button></p>
    </form>
{% endblock %}