{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}
    <h1>Réinitialisation du mot de passe</h1>
    <p>Veuillez entrer votre nouveau mot de passe ci-dessous.</p>
    <form class="" method="post">
        <label  for="inputPassword"></label>
        <input class="form-control" type="password" name="password" id="inputPassword" placeholder="Mot de passe" required>
        <p><input type="hidden" name="token" value="{{ token }}"></p>
        <p class="d-flex justify-content-end"><button class="btn btn-success" type="submit" id="valider">
            Valider le nouveau mot de passe
        </button></p>
    </form>
{% endblock %}