html {
    height: 100%;
}

body {
    background-image: url("../img/by_default/bg1.png");
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.jumbotron {
    background-color: rgba(0, 123, 157, 0.9);
}

a.nav-link-nav {
    color: yellowgreen;
}

a.nav-link-nav:hover {
    color: red;
}

.jumbotron ul li.list-group img.drapeau {
    border-radius: 15px;
}

.banniere {
    background: url("../img/by_default/banner.jpg") repeat;
    box-shadow: 0 4px 4px black;
    border-radius: 10px 10px 10px 10px;
}

h1.test {
    font-size: smaller;
    display: flex;
    justify-content: center;
    align-items: center;
}




/*footer*/

footer {
    display: flex;
    flex-direction: column;
}

.pied-page {
    z-index: 2;
}

.middle {
    width: 100%;
}

ul.menu {
    overflow: hidden;
    margin: 0;
    padding: 0;
    border-radius: 8px 8px 0 0;
}


ul li.item {
    border-top: 1px solid #2980b9;
    overflow: hidden;
}

ul li a.btn {
    display: block;
    padding: 10px 20px;
    background: #34495e;
    color: cornsilk;
    position: relative;
    text-decoration: none;
    border-radius: 0;
    text-align: start;
    /*flex: 1;*/
}

ul li a.btn:before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background: #34495e;
    left: 20px;
    bottom: -7px;
    transform: rotate(45deg);
}

ul li div.smenu {
    background: #333;
    overflow: hidden;
    transition: max-height 0.4s;
    max-height: 0;
}


ul li div.smenu a {
    display: block;
    padding: 16px 26px;
    color: cornsilk;
    font-size: 14px;
    margin: 4px 0;
    position: relative;
    text-decoration: none;
}

ul li div.smenu a:before {
    content: "";
    position: absolute;
    width: 6px;
    height: 100%;
    background: darkcyan;
    left: 0;
    top: 0;
    transition: 0.4s;
    opacity: 0;
}

ul li div.smenu a:hover:before {
    opacity: 1;
}

.item:target .smenu {
    max-height: 9em;
}

#profile > div:nth-child(2) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#message > div:nth-child(2) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

#settings > div:nth-child(2) {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

ul li h5 {
    color: darkgrey;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 1;
    position: relative;
    /*margin-top: 156px;*/
    background-color: #333;
    min-height: 62px;
    color: cornsilk;
    margin-bottom: 0;
    padding: 0;

}




















/*ul li.nav-item:target ul li.nav-item div.smenu{*/
    /*max-height: 10em;*/
/*}*/