{% extends 'base.html.twig' %}

{% block title %}Accueil blog ChessTeam{% endblock %}

{% block body %}
    <h1>Mon Super Blog</h1>
    <p>Ceci est la page d'accueil</p>
    <a href=""> {{ variable }}</a>
    {# Ce lien changera automatiquement en cas de modification des routes #}
    <p><a href="{{ path('actualites_articles') }}">Liste des articles</a></p>
    <p>
        <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut id accusamus tempore, quibusdam excepturi expedita ad repudiandae ea! Reiciendis, nemo. Ea dicta voluptatibus molestias reiciendis tempore provident voluptas rerum laudantium?</span>
        <span>Perspiciatis nam, vel commodi nihil voluptates quaerat quae modi voluptatibus earum mollitia veniam, assumenda minima voluptas ipsum nisi numquam neque pariatur, laudantium optio excepturi libero accusantium totam! Aut, consectetur sapiente!</span>
        <span>Voluptatibus iure distinctio sapiente cumque a illo est natus minima dolor amet, reprehenderit commodi, suscipit eos odio consequatur, dicta ipsam enim asperiores totam illum beatae magnam. Doloremque quidem ab quisquam?</span>
        <span>Expedita a doloribus laudantium cumque quo quaerat accusamus saepe ducimus recusandae est sunt dolor, labore quis possimus quod sapiente consequatur suscipit aperiam ullam fugiat minus adipisci eveniet? Quis, earum vel?</span>
        <span>Ut ex sequi consectetur enim dolore voluptate consequuntur accusamus! Iure debitis amet numquam! Nesciunt quaerat dolores tempora aliquid quasi sequi molestiae illum unde, earum ea magnam voluptates minima ab eos?</span>
    </p>
{% endblock %}
