{% extends 'base.html.twig' %}

{% block title %} Questions fréquentes {% endblock %}

{% block body %}
    <h1>Questions fréquentes</h1>
    <p>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui aliquam placeat maxime! Ab accusantium, inventore molestias quidem omnis voluptatum qui consectetur fuga harum fugiat excepturi asperiores dolore aliquam veniam obcaecati?</span>
        <span>Iusto harum voluptatem dignissimos repellat, doloribus assumenda architecto quibusdam dolore aut numquam a quos autem inventore sapiente error esse labore eius? Accusantium a deleniti quae, provident autem atque quia odit?</span>
        <span>Dolor fuga reiciendis, animi maxime voluptates optio! Nisi consectetur beatae debitis consequuntur in deleniti dolorum vitae asperiores, natus aut aperiam quidem aliquid ipsam? Perspiciatis facere deleniti neque molestias totam rem!</span>
        <span>Magni ab architecto error, quo quos optio tempora? Hic, necessitatibus laudantium sequi in repudiandae ab tempore. Totam eum in, dolor ea itaque, unde adipisci quam maiores esse, fuga at. Deserunt.</span>
        <span>A ipsam rerum, minima laborum ipsa deleniti sunt provident! Quos sapiente quam a temporibus hic recusandae ipsum tempore deserunt, dolorum officiis deleniti dolore quaerat similique nam fuga sunt exercitationem magni!</span>
    </p>
{% endblock %}